<div class="container">
  <div class="pagination-header">
    <h3>
      <a routerLink="">to Main page</a>
    </h3>
    <h2>Book List</h2>
    @if (pageBooks) {
      <div class="pagination-info">
        Page {{ pageBooks.page }} of {{ pageBooks.total_pages }}
        (Total: {{ pageBooks.total_items }} books)
      </div>
    }
  </div>

  @if (error) {
    <div class="error-message">
      {{ error }}
    </div>
  }

  @if (pageBooks) {
    <div class="book-list">
      @for (book of pageBooks.result; track book.id) {
        <div class="book-card">
          <div>
            <h3>{{ book.title }}</h3>
            <div class="book-details">
              <span class="price">{{ book.price | currency }}</span>
              <span class="stock" [class.low-stock]="(book.in_stock ?? 0) < 10">
              Stock: {{ book.in_stock ?? 0 }}
            </span>
            </div>
            <p class="release-date">Released: {{ book.release_date | date }}</p>
            <p class="description">{{ book.description }}</p>
            <p class="author">Author: {{ getAuthorNames(book) }}
            <p class="genres">Genres: {{ getGenreTitles(book) }}
          </div>
          <button (click)="deleteBook(book.id!)" class="delete-button" >X</button>

        </div>

      }
    </div>

    <div class="pagination-controls">
      <button (click)="loadPrevPage()" [disabled]="!pageBooks.links.previous">
        Previous Page
      </button>

      <span>Page {{ pageBooks.page }} of {{ pageBooks.total_pages }}</span>

      <button (click)="loadNextPage()" [disabled]="!pageBooks.links.next">
        Next Page
      </button>
    </div>
  }
</div>
