<div class="container">
    <div class="pagination-header">
        <h3>
            <a routerLink="">to Main page</a>
        </h3>
        <h2>Authors</h2>
        @if (pageAuthors){
          <div class="pagination-info">
            Page {{ pageAuthors.page }} of {{ pageAuthors.total_pages }}
            (Total: {{ pageAuthors.total_items }} authors)
          </div>
        }
    </div>

    <div class="author-form">
        <span>Add New Author</span>
        <form [formGroup]="authorForm" (ngSubmit)="addAuthor()">
            <input
                    type="text"
                    formControlName="first_name"
                    placeholder="First name"
                    required
            />
            <input
                    type="text"
                    formControlName="second_name"
                    placeholder="Last name"
                    required
            />
            <button  type="submit" [disabled]="authorForm.invalid">Add Author</button>
        </form>
    </div>

    @if (pageAuthors) {
      <ul class="author-list">
        @for (author of pageAuthors.result; track author.id) {
          <li class="author-card">
            @if (editingAuthorId !== author.id) {
              <div class="author-info">
                <h3>First name: {{ author.first_name }}</h3>
                <h3>Last name: {{ author.second_name }}</h3>
              </div>
              <div class="author-actions">
                <button (click)="startEditing(author)" class="edit-button">Edit</button>
                <button (click)="deleteAuthor(author.id!)" class="delete-button">X</button>
              </div>
            } @else {
              <form [formGroup]="editForm" (ngSubmit)="saveAuthor(author.id!)" class="edit-form">
                <div class="form-group">
                  <label>First name:</label>
                  <input formControlName="first_name" type="text">
                </div>
                <div class="form-group">
                  <label>Last name:</label>
                  <input formControlName="second_name" type="text">
                </div>
                <div class="form-actions">
                  <button type="submit" [disabled]="editForm.invalid" class="save-button">Save</button>
                  <button type="button" (click)="cancelEditing()" class="cancel-button">Cancel</button>
                </div>
              </form>
            }
          </li>
        }
      </ul>

        <div class="pagination-controls">
            <button
                    (click)="loadPrevAuthorsPage()"
                    [disabled]="!pageAuthors.links.previous">
                Previous page
            </button>
            <span class="page-info">
        Page {{ pageAuthors.page }} of {{ pageAuthors.total_pages }}
      </span>
            <button
                    (click)="loadNextAuthorsPage()"
                    [disabled]="!pageAuthors.links.next">
                Next page
            </button>
        </div>
    }
</div>
